<% provide(:title, "Content") %>
<div class="row">
	<aside class="span9">
		<%= will_paginate @posts%>
			  
		      <ol class="userposts">
		        <%= render @posts %>
		      </ol>
		<%= will_paginate @posts%>
	</aside>
	<aside class="span3">
		<section class="text-center">
			<%= render 'shared/articles_time' %>
		</section>
	</aside>
</div>